.header {
  padding: 10px;
  -webkit-box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 900px;
  margin: auto;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-orange {
  background-color: #fa6400;
  color: #fff;
}

.btn-orange:hover {
  background-color: #fb8332;
}

.alert {
  font-size: 22px;
  font-weight: 600;
  padding: 7px 25px;
  border-radius: 4px;
  display: inline-block;
}

.alert-orange {
  border: 2px solid #fa6400;
  background-color: white;
}

.list {
  width: 400px;
}

.list-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px;
  min-height: 15px;
}

.list-row:nth-child(2n + 1) {
  background-color: #ededed;
}

.list-row:hover {
  background-color: #f7f7f7;
}

.grid {
  display: -ms-grid;
  display: grid;
}
